w{/* Texte, Police Mulish, Color Uno, Gras */
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-uno);
}
x{/* Texte, Police Mulish, Color Dos, Gras */
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-dos);
}
j{/* Texte, Police Mulish, Color Uno, Italique */
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-uno);
}
k{/* Texte, Police Mulish, Color Dos, Italique */
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-dos);
}
l{/* Texte, Police Mulish, Color Uno, Gras, Upper */
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-uno);
}
m{/* Texte, Police Mulish, Color Dos, Gras, Upper */
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--color-dos);
}
n{/* Underline Uno */
    text-decoration: underline;
    text-decoration-color: var(--color-uno);
}
u{/* Underline Dos */
    text-decoration: underline;
    text-decoration-color: var(--color-dos);
}
e1,e2{position: relative;}
e1::after{/* Underline Big Uno */
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 4px;
    background-color: var(--color-uno);
    bottom: 1px;
    left: 0;
}
e2::after{/* Underline Big Dos */
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 4px;
    background-color: var(--color-dos);
    bottom: 1px;
    left: 0;
}
r1{/* Texte, Police Abril, Color Uno */
    font-family: 'Abril Fatface';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-uno);
}
r2{/* Texte, Police Abril, Color Dos */
    font-family: 'Abril Fatface';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-dos);
}
r3{/* Texte, Police Abril, Color Text */
    font-family: 'Abril Fatface';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-text);
}
k1{/* Texte, Police Bebas, Color Dos, Gras, Upper */
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: var(--color-dos);
}
k2{/* Texte, Police Bebas, Color Uno, Gras, Upper */
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: var(--color-uno);
}
k3{/* Texte, Police Bebas, Color Dos, Gras, Upper, Underline */
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--color-dos);
}
k4{/* Texte, Police Bebas, Color Uno, Gras, Upper, Underline */
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--color-uno);
}