/* Rounded image profile */
[class^="rounded-img"]{
    box-sizing: border-box;
    border: 3px solid var(--color-uno);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 8px;
}
[class^="rounded-img"] img{
    max-width: 100%;
}
[class^="rounded-img"][class$="-xs"], [class^="rounded-img-xs-"]{
    width: 36px;
    height: 36px;
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
}
[class^="rounded-img"][class$="-s"], [class^="rounded-img-s-"]{
    width: 80px;
    height: 80px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
}
[class^="rounded-img"][class$="-m"], [class^="rounded-img-m-"]{
    width: 100px;
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}
[class^="rounded-img"][class$="-l"], [class^="rounded-img-l-"]{
    width: 168px;
    height: 168px;
    min-width: 168px;
    max-width: 168px;
    min-height: 168px;
    max-height: 168px;
}
/* Portrait image profile */
[class^="portrait-img"]{
    border: 3px solid var(--color-uno);
    width: 80px;
    height: 128px;
    min-width: 80px;
    max-width: 80px;
    min-height: 128px;
    max-height: 128px;
    overflow: hidden;
    margin: 8px;
}
[class^="portrait-img"] img{
    max-width: 100%;
}
[class^="portrait-img"][class$="-s"], [class^="portrait-img-s-"]{
    width: 120px;
    height: 192px;
    min-width: 120px;
    max-width: 120px;
    min-height: 192px;
    max-height: 192px;
}
[class^="portrait-img"][class$="-m"], [class^="portrait-img-m-"]{
    width: 200px;
    height: 320px;
    min-width: 200px;
    max-width: 200px;
    min-height: 320px;
    max-height: 320px;
}
[class^="portrait-img"][class$="-l"], [class^="portrait-img-l-"]{
    width: 224px;
    height: 358px;
    min-width: 224px;
    max-width: 224px;
    min-height: 358px;
    max-height: 358px;
}
/* Carre image profile */
[class^="carre-img"]{
    box-sizing: border-box;
    border: 3px solid var(--color-uno);
    width: 100px;
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 8px;
}
[class^="carre-img"] img{
    max-width: 100%;
}
[class^="carre-img"][class$="-s"], [class^="carre-img-s-"]{
    width: 168px;
    height: 168px;
    min-width: 168px;
    max-width: 168px;
    min-height: 168px;
    max-height: 168px;
}
[class^="carre-img"][class$="-m"], [class^="carre-img-m-"]{
    width: 200px;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}
[class^="carre-img"][class$="-l"], [class^="carre-img-l-"]{
    width: 250px;
    height: 250px;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
}
/* Color group on border image */
[class^="portrait-img-"][class*="-twitter"], [class^="rounded-img-"][class*="-twitter"], [class^="carre-img-"][class*="-twitter"]{
    border: 3px solid #3D9EFF;
}
[class^="portrait-img-"][class*="-discord"], [class^="rounded-img-"][class*="-discord"], [class^="carre-img-"][class*="-discord"]{
    border: 3px solid #535DF2;
}
[class^="portrait-img-"][class*="-linkedin"], [class^="rounded-img-"][class*="-linkedin"], [class^="carre-img-"][class*="-linkedin"]{
    border: 3px solid #455E8C;
}
[class^="portrait-img-"][class*="-instagram"], [class^="rounded-img-"][class*="-instagram"], [class^="carre-img-"][class*="-instagram"]{
    border: 3px solid #8B62B5;
}
[class^="portrait-img-"][class*="-tiktok"], [class^="rounded-img-"][class*="-tiktok"], [class^="carre-img-"][class*="-tiktok"]{
    border: 3px solid #D45776;
}
[class^="portrait-img-"][class*="-edge"], [class^="rounded-img-"][class*="-edge"], [class^="carre-img-"][class*="-edge"]{
    border: 3px solid #BF8437;
}
[class^="portrait-img-"][class*="-dos"], [class^="rounded-img-"][class*="-dos"], [class^="carre-img-"][class*="-dos"]{
    border: 3px solid var(--color-dos);
}
[class^="portrait-img-"][class*="-valid"], [class^="rounded-img-"][class*="-valid"], [class^="carre-img-"][class*="-valid"]{
    border: 3px solid var(--color-success);
}
[class^="portrait-img-"][class*="-echec"], [class^="rounded-img-"][class*="-echec"], [class^="carre-img-"][class*="-echec"]{
    border: 3px solid var(--color-error);
}
[class^="portrait-img-"][class*="-warning"], [class^="rounded-img-"][class*="-warning"], [class^="carre-img-"][class*="-warning"]{
    border: 3px solid var(--color-warning);
}


/* Layout admin */
admin{
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(116, 116, 116, 0.25);
    background: var(--color-bloc-2);
    display: block;
    max-width: 700px;
    margin: 0 auto;
}
/* Layout admin header */
admin > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background: var(--color-bloc-3);
    border-radius: 5px 5px 0 0;
}
admin > header > div:nth-child(1) > p:nth-child(1){
    color: var(--color-uno);
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
admin > header > div:nth-child(1) > p:nth-child(2){
    color: var(--color-text-light);
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
}
/* Layout admin body */
admin article{
    padding: 16px 24px;
    text-align: justify;
}
/* Composant button in admin layout */
list-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}
list-btn .btn-uno{
    color: var(--color-white)!important;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px 12px;
    background: var(--color-uno);
}
list-btn .btn-dos{
    color: var(--color-white)!important;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px 12px;
    background: var(--color-dos);
}
/* Composant bloc info */
.bloc-info{
    margin: 26px 48px;
    padding: 16px 21px;
    background: var(--color-bloc-3);
    border: 1px solid var(--color-dos);
    border-radius: 5px;
    text-align: justify;
}
/* Composant fake formulaire */
formulaire{
    display: block;
    padding: 16px 24px;
    margin: 8px;
    background: var(--color-bloc-3);
    border-radius: 5px;
}
formulaire > p{
    color: var(--color-text);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
formulaire label{
    display: block;
    color: var(--color-dos);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
}
formulaire fake-input, formulaire fake-textarea{
    background: var(--color-bloc-1);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 4px 0px rgba(116, 116, 116, 0.25);
    color: var(--color-text-medium);
    font-size: 14px;
    margin-bottom: 16px;
}
formulaire fake-input{
    display: flex;
    max-height: 40px;
    gap: 8px;
    overflow-y: auto;
}
formulaire fake-input iconify-icon{
    min-width: 18px;
    min-height: 18px;
}
formulaire fake-textarea{
    display: block;
    min-height: 140px;
    max-height: 140px;
    overflow-y: auto;
}
formulaire fake-textarea iconify-icon{
    float: left;
    margin: 4px 8px 0 0;
    min-width: 18px;
    min-height: 18px;
}
/* Composant admin navigation */
navi{
    display: block;
    border-radius: 5px;
    background: var(--color-bloc-2);
    box-shadow: 0px 1px 4px 0px rgba(116, 116, 116, 0.25);
    max-width: 400px;
    margin: 0 auto 16px;
    padding: 10px 16px;
    text-align: center;
}
navi p{
    color: var(--color-text);
    font-size: 18px;
    font-weight: 700;
}
navi button{
    font-family: "Poppins";
    border-radius: 2px;
    text-align: center;
    font-weight: 700;
    border: none;
    padding: 3px 6px;
    margin: 4px;
    cursor: pointer;
}
navi button:nth-child(2n){
    background: rgba(var(--rgb-uno), 0.2);
    color: var(--color-uno);
}
navi button:nth-child(2n+1){
    background: rgba(var(--rgb-dos), 0.2);
    color: var(--color-dos);
}